venv/
.env
/frontend/chat-application-client/src/node_modules
/node_modules
package-lock.json
/backend/src/__pycache__/
.vscode
/backend/chat-application-server/chatapp/chat_messages/__pycache__/
/backend/chat-application-server/chatapp/users/__pycache__
/backend/chat-application-server/chatapp/chatapp/__pycache__
backend/chat-application-server/chatapp/chat_messages/__pycache__/
backend/chat-application-server/chatapp/users/migrations/__pycache__/
backend/chat-application-server/chatapp/chat_messages/migrations/__pycache__/
backend/chat-application-server/chatapp/chat_messages/migrations/__pycache__/__init__.cpython-310.pyc
