/* GlobalLayout.css */

/* Sidebar Styles */
.sidebar {
    background-color: darkblue;
    color: white;
    transition: width 0.3s ease;
    overflow: hidden;
    position: relative;
    grid-row: 2 / span 1;
    grid-column: 1 / span 1;
    display: flex;
    flex-direction: column;
    z-index: 15;
  }
  
  .sidebar.closed {
    width: 60px;
  }
  
  .sidebar.open {
    width: 200px;
  }
  
  .sidebar-content {
    padding: 20px;
    display: flex;
    flex-direction: column;
    margin-top: 60px;
  }
  
  .sidebar-content.collapsed {
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  .sidebar-content.open {
    flex: 1;
  }
  
  .sidebar-content.open ul {
    list-style: none;
    padding: 0;
  }
  
  .sidebar-content.open ul li {
    margin: 15px 0;
  }
  
  .sidebar-content.open ul li a {
    color: white;
    font-size: 24px;
    text-decoration: none;
    display: flex;
    align-items: center;
  }
  
  .sidebar-content.open ul li a:hover {
    text-decoration: underline;
  }
  
  .sidebar-content.collapsed ul {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  .sidebar-content.collapsed ul li {
    margin: 15px 0;
  }
  
  .sidebar-content.collapsed ul li a {
    color: white;
    font-size: 24px;
    text-decoration: none;
    display: flex;
    align-items: center;
  }
  
  .sidebar-content.collapsed ul li a:hover {
    color: lightblue;
  }
  
  .toggle-btn {
    background-color: darkblue;
    color: white;
    border: none;
    padding: 10px;
    cursor: pointer;
    font-size: 20px;
    text-align: center;
    position: fixed;
    top: 15px;
    left: 15px;
    z-index: 20;
  }
  
  /* Top Bar Styles */
  .top-bar {
    background-color: darkblue;
    color: white;
    padding: 15px;
    position: relative;
    grid-row: 1 / span 1;
    grid-column: 1 / span 2;
  }
  
  .main-content {
    display: flex;
    flex-direction: column;
    padding-top: 60px;
    margin-left: 200px;
    transition: margin-left 0.3s ease;
    grid-row: 2 / span 1;
    grid-column: 2 / span 1;
  }
  
  .sidebar.closed ~ .main-content {
    margin-left: 60px;
  }
  
  .sidebar.open ~ .main-content {
    margin-left: 200px;
  }
  
  .content {
    padding: 20px;
    flex: 1;
  }
  